In [6]:
#pip install pandas

In [3]:
import pandas as pd
import numpy as np

## Load Data in train and test

In [32]:
train = pd.read_csv("../Dataset/credit_card_transaction_train.csv")
test = pd.read_csv("../Dataset/credit_card_transaction_test.csv")

## Basic Analysis of Datasets

In [33]:
train.shape, test.shape

((1296675, 24), (555719, 24))

In [34]:
all(train.columns == test.columns)

True

In [35]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1296675 entries, 0 to 1296674
Data columns (total 24 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   Unnamed: 0             1296675 non-null  int64
 1   trans_date_trans_time  1296675 non-null  object
 2   cc_num                 1296675 non-null  int64
 3   merchant               1296675 non-null  object
 4   category               1296675 non-null  object
 5   amt                    1296675 non-null  float64
 6   first                  1296675 non-null  object
 7   last                   1296675 non-null  object
 8   gender                 1296675 non-null  object
 9   street                 1296675 non-null  object
 10  city                   1296675 non-null  object
 11  state                  1296675 non-null  object
 12  zip                    1296675 non-null  int64
 13  lat                    1296675 non-null  float64
 14  long                   1296675 non-null  float64
 15  city_pop               1296675 non-null  int64
 16  job                    1296675 non-null  object
 17  dob                    1296675 non-null  object
 18  trans_num              1296675 non-null  object
 19  unix_time              1296675 non-null  int64
 20  merch_lat              1296675 non-null  float64
 21  merch_long             1296675 non-null  float64
 22  is_fraud               1296675 non-null  int64
 23  merch_zipcode          1100702 non-null  float64
dtypes: float64(6), int64(6), object(12)
memory usage: 237.4+ MB

In [36]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 555719 entries, 0 to 555718
Data columns (total 24 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Unnamed: 0             555719 non-null  int64
 1   trans_date_trans_time  555719 non-null  object
 2   cc_num                 555719 non-null  int64
 3   merchant               555719 non-null  object
 4   category               555719 non-null  object
 5   amt                    555719 non-null  float64
 6   first                  555719 non-null  object
 7   last                   555719 non-null  object
 8   gender                 555719 non-null  object
 9   street                 555719 non-null  object
 10  city                   555719 non-null  object
 11  state                  555719 non-null  object
 12  zip                    555719 non-null  int64
 13  lat                    555719 non-null  float64
 14  long                   555719 non-null  float64
 15  city_pop               555719 non-null  int64
 16  job                    555719 non-null  object
 17  dob                    555719 non-null  object
 18  trans_num              555719 non-null  object
 19  unix_time              555719 non-null  int64
 20  merch_lat              555719 non-null  float64
 21  merch_long             555719 non-null  float64
 22  is_fraud               555719 non-null  int64
 23  merch_zipcode          471736 non-null  float64
dtypes: float64(6), int64(6), object(12)
memory usage: 101.8+ MB

In [37]:
#Null Values
nullsTrain=train.isna().sum()
nullsTrain=nullsTrain[nullsTrain>0]

nullsTest=test.isna().sum()
nullsTest=nullsTest[nullsTest>0]

nullsPercentTrain=nullsTest/train.shape[0]
nullsPercentTest=nullsTrain/test.shape[0]

nullsPercentTrain , nullsPercentTest

(merch_zipcode    0.064768
 dtype: float64,
 merch_zipcode    0.352648
 dtype: float64)

## Removing Null values
Null values contribute to only 6% of training data. Testing data should be clean.

In [38]:
#Removing Null Values
train.dropna(inplace=True,axis=0)
test.dropna(inplace=True,axis=0)

In [39]:
train.shape, test.shape

((1100702, 24), (471736, 24))

.

## Remove index columns

In [40]:
#Remove index columns
colsToDrop= ['trans_date_trans_time','Unnamed: 0','cc_num','first','last','trans_num']
train.drop(colsToDrop,axis=1,inplace=True)
test.drop(colsToDrop,axis=1,inplace=True)

In [41]:
train.shape, test.shape

((1100702, 18), (471736, 18))

.

## Encoding

In [42]:
train.nunique()

merchant             693
category              14
amt                49455
gender                 2
street               980
city                 891
state                 50
zip                  967
lat                  965
long                 966
city_pop             878
job                  493
dob                  965
unix_time        1084867
merch_lat        1062158
merch_long       1083956
is_fraud               2
merch_zipcode      28336
dtype: int64

In [28]:
df.dtypes

trans_date_trans_time     object
cc_num                     int64
merchant                  object
category                  object
amt                      float64
first                     object
last                      object
gender                    object
street                    object
city                      object
state                     object
zip                        int64
lat                      float64
long                     float64
city_pop                   int64
job                       object
dob                       object
trans_num                 object
unix_time                  int64
merch_lat                float64
merch_long               float64
is_fraud                   int64
merch_zipcode            float64
dtype: object